<<<<<<< HEAD
---
function changeImage(src: string): void {
    throw new Error("Function not implemented.");
}

import ColorNavButton from "../../button/ui/ColorButton.astro";
interface Props {
    id: string;
    title: string;
    cameraResolution: string;
    internalMemory: string;
    ramMemory: string;
    batteryCapacity: string;
    colors: { color: string; src: string }[];
    src: string;
}

const {
    id,
    title,
    cameraResolution,
    internalMemory,
    ramMemory,
    batteryCapacity,
    colors,
    src,
} = Astro.props;
---

<template id="card-mobile">
    <li class="card">
        <article
            class="card__contain"
            itemid="id"
            id={id.replace(/\s+/g, "-").toLowerCase()}
        >
            <div class="card__left">
                <picture class="card__picture" id="phonePicture">
                    <img
                        class="card__picture-img"
                        src={src}
                        alt="Imagen del movil"
                    />
                </picture>
            </div>
            <footer class="card__footer">
                <button class="card__button-compaire" itemtype="comparar"
                    >Comparar</button
                >
                <button class="card__button-details" itemtype="detalles"
                    >Detalles</button
                >
            </footer>
            <main class="card__contain-main">
                <div class="card__contain-tittle">
                    <h2 class="card__title" itemprop="name">{title}</h2>
                </div>
                <ul class="card__tech-list">
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-camera.svg"
                                alt="Icono de camara"
                                itemprop=""
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title"
                                >Resolución de Cámara Principal</span
                            >
                            <span class="card__item-value" itemprop="rearCamera"
                                >{cameraResolution}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-internal.svg"
                                alt="Icono de memoria interna"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title">Memoria interna</span
                            >
                            <span class="card__item-value" itemprop="storage"
                                >{internalMemory}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-ram.svg"
                                alt="Icono de memoria ram"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title">Memoria RAM</span>
                            <span class="card__item-value" itemprop="ram"
                                >{ramMemory}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-battery.svg"
                                alt="Icono de bateria"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title"
                                >Capacidad de la Bateria</span
                            >
                            <span class="card__item-value" itemprop="battery"
                                >{batteryCapacity}</span
                            >
                        </div>
                    </li>
                </ul>
            </main>
            <nav class="card__nav">
                {
                    colors &&
                        colors.map((colorItem) => (
                            <ColorNavButton
                                backgroundColor={colorItem.color}
                                dataImageSrc={colorItem.src}
                                onClick={() => changeImage(colorItem.src)}
                                cardTitle={id}
                            />
                        ))
                }
            </nav>
        </article>
    </li>
</template>
<script>
    export function changeImage(imageSrc: string, cardId: string) {
        const pictureElement = document.querySelector(
            `#${cardId} .card__picture`,
        ) as HTMLElement;
        const imageElement = pictureElement.querySelector(
            ".card__picture-img",
        ) as HTMLImageElement;
        if (imageElement) {
            imageElement.style.opacity = "0";
            setTimeout(() => {
                imageElement.src = imageSrc;
                imageElement.style.opacity = "1";
            }, 300);
        }
        if (pictureElement) {
            pictureElement.style.boxShadow = "none";
            setTimeout(() => {
                pictureElement.style.boxShadow =
                    "-12px 12px 20px 0px rgba(0, 0, 0, 0.48)";
            }, 300);
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const colorButtons = document.querySelectorAll(
            ".card__nav-button",
        ) as NodeListOf<HTMLElement>;

        colorButtons.forEach((button) => {
            button.addEventListener("click", () => {
                const imageSrc = button.dataset.imageSrc;
                const cardId = button.dataset.cardId;
                if (imageSrc && cardId) {
                    changeImage(imageSrc, cardId);
                }
            });
        });
    });
</script>

<style>
    .card {
        display: inline-block;
        /*aspect-ratio: 5 / 2.5; */
        scroll-snap-align: center;
        margin-right: 20%;
    }

    .card__contain {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: auto auto;
        grid-template-rows: 82% 14%;
        padding: 20px;
        gap: 1rem;
    }

    .card__left {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-content: flex-end;
        justify-content: center;
        position: relative;
        width: 333px;
        height: 100%;
    }

    .card__picture {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 9% 0 9% 9%;
        background-color: transparent;
        box-shadow: -27px 18px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__picture-img {
        width: 100%;
        height: auto;
        transition: opacity 500ms ease 0s;
        background-color: transparent;
    }

    .card__footer {
        display: flex;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-content: space-around;
        align-items: center;
    }

    .card__button-compaire {
        padding: 1rem 2rem;
        background-color: var(--color-action--success);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__button-details {
        padding: 1rem 2rem;
        background-color: var(--color-action--log);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__contain-main {
        display: grid;
        grid-row: 1 / 2;
        grid-template-rows: 30% auto;
        gap: 1rem;
        width: 100%;
        align-items: center;
    }

    .card__contain-tittle {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .card__title {
        font-size: 2rem;
        font-weight: bold;
        text-wrap: wrap;
    }

    .card__tech-list {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card__tech-list-item {
        display: flex;
        flex-direction: row;
    }

    .card__item-icon {
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5em;
    }

    .card__item-info {
        display: flex;
        flex-direction: column;
    }

    .card__item-title {
        font-weight: bold;
        margin-bottom: 5px;
        text-wrap: nowrap;
    }

    .card__item-value {
        font-size: 0.9rem;
    }

    .card__item-icon-img {
        width: 100%;
        height: 100%;
    }

    .card__nav {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
    }

    @media (max-width: 576px) {
        .card__contain-main {
            scroll-snap-align: center; /* Ajusta el tamaño de la fuente para pantallas aún más pequeñas */
        }

        .card__left {
            scroll-snap-align: center;
            width: 390px;
            border-right: 2px solid #868686;
        }

        .card__picture {
            width: 250px;
        }

        .card {
            scroll-snap-align: none;
        }

        .card__title {
            font-size: 1.8rem;
        }

        .card__item-title,
        .card__item-value {
            font-size: 0.8rem;
        }

        .card__button-details,
        .card__button-compaire {
            padding: 0.5rem 1rem;
        }

        .card__item-icon {
            width: 1.5rem;
            height: 2.5rem;
        }

        .card__contain-main {
            gap: 0.5rem;
        }
    }
</style>
=======
---
function changeImage(src: string): void {
    throw new Error("Function not implemented.");
}

import ColorNavButton from "../../button/ui/ColorButton.astro";
interface Props {
    id: string;
    title: string;
    cameraResolution: string;
    internalMemory: string;
    ramMemory: string;
    batteryCapacity: string;
    colors: { color: string; src: string }[];
    src: string;

}

const {
    id,
    title,
    cameraResolution,
    internalMemory,
    ramMemory,
    batteryCapacity,
    colors,
    src,
} = Astro.props;
---
<template id="card-mobile">
    <li class="card" itemid="card-mobile">
        <article
            class="card__contain"
            itemid="id"
            id={id.replace(/\s+/g, "-").toLowerCase()}
        >
            <div class="card__left">
                <picture class="card__picture" id="phonePicture">
                    <img
                        class="card__picture-img"
                        src={src}
                        alt="Imagen del movil"
                    />
                </picture>
            </div>
            <footer class="card__footer">
                <button class="card__button-compaire" itemtype="comparar"
                    >Comparar</button
                >
                <button class="card__button-details" itemtype="detalles"
                    >Detalles</button
                >
            </footer>
            <main class="card__contain-main">
                <div class="card__contain-tittle">
                    <h2 class="card__title" itemprop="name">{title}</h2>
                </div>
                <ul class="card__tech-list">
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-camera.svg"
                                alt="Icono de camara"
                                itemprop=""
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title"
                                >Resolución de Cámara Principal</span
                            >
                            <span class="card__item-value" itemprop="rearCamera"
                                >{cameraResolution}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-internal.svg"
                                alt="Icono de memoria interna"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title">Memoria interna</span
                            >
                            <span class="card__item-value" itemprop="storage"
                                >{internalMemory}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-ram.svg"
                                alt="Icono de memoria ram"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title">Memoria RAM</span>
                            <span class="card__item-value" itemprop="ram"
                                >{ramMemory}</span
                            >
                        </div>
                    </li>
                    <li class="card__tech-list-item">
                        <figure class="card__item-icon">
                            <img
                                class="card__item-icon-img"
                                src="public/icons/icons_items/icon-battery.svg"
                                alt="Icono de bateria"
                            />
                        </figure>
                        <div class="card__item-info">
                            <span class="card__item-title"
                                >Capacidad de la Bateria</span
                            >
                            <span class="card__item-value" itemprop="battery"
                                >{batteryCapacity}</span
                            >
                        </div>
                    </li>
                </ul>
            </main>
            <nav class="card__nav">
                {
                    colors &&
                        colors.map((colorItem) => (
                            <ColorNavButton
                                backgroundColor={colorItem.color}
                                dataImageSrc={colorItem.src}
                                onClick={() => changeImage(colorItem.src)}
                                cardTitle={id}
                            />
                        ))
                }
            </nav>
        </article>
    </li>

</template>


<script>
    export function changeImage(imageSrc: string, cardId: string) {
        const pictureElement = document.querySelector(
            `#${cardId} .card__picture`,
        ) as HTMLElement;
        const imageElement = pictureElement.querySelector(
            ".card__picture-img",
        ) as HTMLImageElement;
        if (imageElement) {
            imageElement.style.opacity = "0";
            setTimeout(() => {
                imageElement.src = imageSrc;
                imageElement.style.opacity = "1";
            }, 300);
        }
        if (pictureElement) {
            pictureElement.style.boxShadow = "none";
            setTimeout(() => {
                pictureElement.style.boxShadow =
                    "-12px 12px 20px 0px rgba(0, 0, 0, 0.48)";
            }, 300);
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const colorButtons = document.querySelectorAll(
            ".card__nav-button",
        ) as NodeListOf<HTMLElement>;

        colorButtons.forEach((button) => {
            button.addEventListener("click", () => {
                const imageSrc = button.dataset.imageSrc;
                const cardId = button.dataset.cardId;
                if (imageSrc && cardId) {
                    changeImage(imageSrc, cardId);
                }
            });
        });
    });
</script>

<style>
    /*styles for simple card*/

    .card {
        display: inline-block;
        /*aspect-ratio: 5 / 2.5; */
        scroll-snap-align: center;
        margin-right: 20%;
    }

    .card__contain {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: auto auto;
        grid-template-rows: 82% 14%;
        padding: 20px;
        gap: 1rem;
    }

    .card__left {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-content: flex-end;
        justify-content: center;
        position: relative;
        width: 333px;
        height: 100%;
    }

    .card__picture {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 9% 0 9% 9%;
        background-color: transparent;
        box-shadow: -27px 18px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__picture-img {
        width: 100%;
        height: auto;
        transition: opacity 500ms ease 0s;
        background-color: transparent;
    }

    .card__footer {
        display: flex;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-content: space-around;
        align-items: center;
    }

    .card__button-compaire {
        padding: 1rem 2rem;
        background-color: var(--color-action--success);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__button-details {
        padding: 1rem 2rem;
        background-color: var(--color-action--log);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .card__contain-main {
        display: grid;
        grid-row: 1 / 2;
        grid-template-rows: 30% auto;
        gap: 1rem;
        width: 100%;
        align-items: center;
    }

    .card__contain-tittle {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .card__title {
        font-size: 2rem;
        font-weight: bold;
        text-wrap: wrap;
    }

    .card__tech-list {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .card__tech-list-item {
        display: flex;
        flex-direction: row;
    }

    .card__item-icon {
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5em;
    }

    .card__item-info {
        display: flex;
        flex-direction: column;
    }

    .card__item-title {
        font-weight: bold;
        margin-bottom: 5px;
        text-wrap: nowrap;
    }

    .card__item-value {
        font-size: 0.9rem;
    }

    .card__item-icon-img {
        width: 100%;
        height: 100%;
    }

    .card__nav {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
    }

    @media (max-width: 576px) {
        .card__contain-main {
            scroll-snap-align: center; /* Ajusta el tamaño de la fuente para pantallas aún más pequeñas */
        }

        .card__left {
            scroll-snap-align: center;
            width: 390px;
            border-right: 2px solid #868686;
        }

        .card__picture {
            width: 250px;
        }

        .card {
            scroll-snap-align: none;
        }

        .card__title {
            font-size: 1.8rem;
        }

        .card__item-title,
        .card__item-value {
            font-size: 0.8rem;
        }

        .card__button-details,
        .card__button-compaire {
            padding: 0.5rem 1rem;
        }

        .card__item-icon {
            width: 1.5rem;
            height: 2.5rem;
        }

        .card__contain-main {
            gap: 0.5rem;
        }
    }


</style>
>>>>>>> 12342ba6a29ebe01144378636ad2aa963ee26239
