---
interface Props {
    text?: string;
    icon: string;
    id: string;
    type:
        | "fake-input"
        | "filters-navigation"
        | "bubble-comparation"
        | "brands-navigation"
        | "price-filter";
    detail?: string;
    brand?: { src: string }[];
}

const { text, id, icon, detail, type, brand } = Astro.props;
---

{
    type === "fake-input" && (
        <button
            id={id}
            type="button"
            class="button button--fake-input header__search-button"
        >
            <span class="button__text">{text}</span>
            <figure class="button__icon">
                <img class="button__icon-image" src={icon} alt={text} />
            </figure>
        </button>
    )
}

{
    type === "filters-navigation" && (
        <button id={id} type="button" class="button button--filters-navigation">
            <figure class="button__icon-nav">
                <img class="button__icon-image-nav" src={icon} alt={text} />
            </figure>
            {typeof text !== "undefined" && (
                <span class="button__text">{text}</span>
            )}
            {typeof detail !== "undefined" && (
                <small class="button__details">{detail}</small>
            )}
        </button>
    )
}

{
    type === "bubble-comparation" && (
        <button id={id} type="button" class="button--bubble-comparation">
            <span class="bubble__counter">{text}</span>
            <figure class="button__icon-bubble">
                <img class="button__icon-bubble-image" src={icon} alt="" />
            </figure>
        </button>
    )
}

{
    type === "price-filter" && (
        <button id={id} type="button" class="button button--brands-navigation">
            <figure class="button__icon-nav">
                <img class="button__icon-image-nav" src={icon} alt={text} />
            </figure>
        </button>
    )
}

{
    type === "brands-navigation" && (
        <button id={id} type="button" class="button button--brands-navigation">
            <figure class="button__icon-nav">
                <img class="button__icon-image-nav" src={icon} alt={text} />
            </figure>
        </button>
    )
}

<script>

</script>

<style>
    .button--fake-input {
        background-color: transparent;
        color: var(--color-brand--text);
        background-color: aliceblue;
        border: none;
        cursor: pointer;
        width: 50%;
        min-width: 125px;
        height: 2rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        transition: all 100ms;
    }

    .button__text {
        margin: unset;
        padding: unset;
        line-height: 1rem;
    }

    .button__icon {
        background-color: var(--color-action--success);
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: relative;
        right: -1rem;
    }

    .button__icon-image {
        width: 50%;
        filter: invert(1);
    }

    .button--fake-input:hover {
        width: 100%;
    }

    .button--bubble-comparation {
        background-color: var(--color-action--success);
        border: none;
        cursor: pointer;
        position: relative;
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        transition: all 100ms;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        justify-self: flex-end;
    }

    .button__icon-bubble {
        width: 60%;
        height: 60%;
        display: grid;
        position: relative;
        border: none;
    }

    .bubble__counter {
        position: absolute;
        background-color: red;
        color: white;
        top: -5px;
        left: -5px;
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center;
        align-items: center;
        line-height: 1.2rem;
        font-size: 0.9rem;
    }

    .button__icon-bubble-image {
        width: 100%;
        height: 100%;
    }

    .button__icon-nav {
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        position: relative;
        right: -1rem;
    }

    .button__icon-image-nav {
      
    }

    .button--filters-navigation {
        display: grid;
        grid-template-columns: 2.1rem 1fr;
        grid-template-rows: 1fr 1fr 16px 1fr;
        height: 100%;
        width: 100%;
        grid-template-areas:
            "figure _"
            "figure title"
            "figure detail"
            "figure __";
        justify-content: flex-start;
        align-items: center;
        gap: 0.3rem 1rem;
    }

    .button--filters-navigation .button__icon-nav {
        grid-area: figure;
        text-align: start;
        transform: translateX(-1.5rem);
        opacity: 0;
        transition: all 200ms;
    }

    .button--filters-navigation .button__text {
        grid-area: title;
        opacity: 0.8;
        transform: translateX(-0.3rem);
        transition: all 200ms;
        text-align: start;
    }
    .button--filters-navigation .button__details {
        grid-area: detail;
        text-wrap: nowrap;
        opacity: 0.8;
        width: 100%;
        transform: translateX(-0.3rem);
        text-align: start;
        overflow-x: hidden;
        transition: all 200ms;
        text-overflow: ellipsis;
    }

    .button--filters-navigation:hover {
        color: var(--color-brand--secondary);
    }

    .button--filters-navigation:hover .button__icon-nav {
        transform: translateX(-1rem);
        opacity: 1;
    }

    .button--filters-navigation:hover .button__text {
        transform: translateX(0);
        opacity: 1;
    }

    .button--filters-navigation:hover .button__details {
        transform: translateX(0);
    }

    .button--brands-navigation {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition:
            background-color 0.3s,
            transform 0.3s;
    }

    .button__icon-nav {
        width: 80%;
        height: 80%;
    }

    .button__icon-image-nav {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
</style>
