---
function changeImage(src: string): void {
    throw new Error("Function not implemented.");
}

// import ColorNavButton from "../../button/ui/ColorButton.astro";
interface Props {
    id?: string;
    title?: string;
    cameraResolution?: string;
    internalMemory?: string;
    ramMemory?: string;
    batteryCapacity?: string;
    colors?: { color: string; src: string }[];
    src?: string;

}

const {
    id,
    title,
    cameraResolution,
    internalMemory,
    ramMemory,
    batteryCapacity,
    colors,
    src,
} = Astro.props;
---

<template id="compaire_card-mobile">
    <li class="card-compaire" itemid="compaire_card-mobile">
        <article
            class="compaire_card__contain"
            itemid="id"
            id={id}
        >
            <div class="compaire_card__left">
                <div class="compaire_card__contain-tittle">
                    <h2 class="compaire_card__title" itemprop="name">{title}</h2>
                </div>
                <picture class="compaire_card__picture" id="phonePicture">
                    <img
                        class="compaire_card__picture-img"
                        src={src}
                        alt="Imagen del movil"
                        itemprop="image"
                    />
                </picture>
            </div>
            <footer class="compaire_card__footer">
                <button class="compaire_card__button-compaire" itemtype="falabella"
                    >ir a fallabela</button
                >
                <button class="compaire_card__button-details" itemtype="ktronix"
                    >ir a ktronix</button
                >
            </footer>
            <main class="compaire_card__contain-main">
                <ul class="compaire_card__tech-list">
                    <li class="compaire_card__tech-list-item">
                        <figure class="compaire_card__item-icon">
                            <img
                                class="compaire_card__item-icon-img"
                                src="public/icons/icons_items/icon-camera.svg"
                                alt="Icono de camara"
                                itemprop=""
                            />
                        </figure>
                        <div class="compaire_card__item-info">
                            <span class="compaire_card__item-title"
                                >Resolución de Cámara Principal</span
                            >
                            <span class="compaire_card__item-value" itemprop="rearCamera"
                                >{cameraResolution}</span
                            >
                        </div>
                    </li>
                    <li class="compaire_card__tech-list-item">
                        <figure class="compaire_card__item-icon">
                            <img
                                class="compaire_card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-internal.svg"
                                alt="Icono de memoria interna"
                            />
                        </figure>
                        <div class="compaire_card__item-info">
                            <span class="compaire_card__item-title">Memoria interna</span
                            >
                            <span class="compaire_card__item-value" itemprop="storage"
                                >{internalMemory}</span
                            >
                        </div>
                    </li>
                    <li class="compaire_card__tech-list-item">
                        <figure class="compaire_card__item-icon">
                            <img
                                class="compaire_card__item-icon-img"
                                src="public/icons/icons_items/icon-memory-ram.svg"
                                alt="Icono de memoria ram"
                            />
                        </figure>
                        <div class="compaire_card__item-info">
                            <span class="compaire_card__item-title">Memoria RAM</span>
                            <span class="compaire_card__item-value" itemprop="ram"
                                >{ramMemory}</span
                            >
                        </div>
                    </li>
                    <li class="compaire_card__tech-list-item">
                        <figure class="compaire_card__item-icon">
                            <img
                                class="compaire_card__item-icon-img"
                                src="public/icons/icons_items/icon-battery.svg"
                                alt="Icono de bateria"
                            />
                        </figure>
                        <div class="compaire_card__item-info">
                            <span class="compaire_card__item-title"
                                >Capacidad de la Bateria</span
                            >
                            <span class="compaire_card__item-value" itemprop="battery"
                                >{batteryCapacity}</span
                            >
                        </div>
                    </li>
                </ul>
            </main>
            <nav class="compaire_card__nav">
                
            </nav>
        </article>
    </li>
</template>

<script>
    export function changeImage(imageSrc: string, cardId: string) {
        const pictureElement = document.querySelector(
            `#${cardId} .card__picture`,
        ) as HTMLElement;
        const imageElement = pictureElement.querySelector(
            ".card__picture-img",
        ) as HTMLImageElement;
        if (imageElement) {
            imageElement.style.opacity = "0";
            setTimeout(() => {
                imageElement.src = imageSrc;
                imageElement.style.opacity = "1";
            }, 300);
        }
        if (pictureElement) {
            pictureElement.style.boxShadow = "none";
            setTimeout(() => {
                pictureElement.style.boxShadow =
                    "-12px 12px 20px 0px rgba(0, 0, 0, 0.48)";
            }, 300);
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const colorButtons = document.querySelectorAll(
            ".card__nav-button",
        ) as NodeListOf<HTMLElement>;

        colorButtons.forEach((button) => {
            button.addEventListener("click", () => {
                const imageSrc = button.dataset.imageSrc;
                const cardId = button.dataset.cardId;
                if (imageSrc && cardId) {
                    changeImage(imageSrc, cardId);
                }
            });
        });
    });
</script>

<style>
    /*styles for comparation card */
    .compaire_card {
        display: inline-block;
        /*aspect-ratio: 5 / 2.5; */
        scroll-snap-align: center;
        margin-right: 10%;
    }

    .compaire_card__contain {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 20px;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .compaire_card__left {
        display: flex;
        align-content: flex-end;
        justify-content: center;
        position: relative;
        flex-direction: column;

    }

    .compaire_card__contain-tittle {
        padding: 10px;
        text-align: center;
    }

    .compaire_card__title {
        font-size: 2rem;
        font-weight: bold;
        text-wrap: wrap;
        text-align: center;
    }

    .compaire_card__picture {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 9% 0 9% 9%;
        background-color: transparent;
        box-shadow: -27px 18px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .compaire_card__picture-img {
        width: 100%;
        height: auto;
        transition: opacity 500ms ease 0s;
        background-color: transparent;
    }

    .compaire_card__footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .compaire_card__button-compaire {
        padding: 1rem 2rem;
        background-color: var(--color-action--success);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .compaire_card__button-details {
        padding: 1rem 2rem;
        background-color: var(--color-action--log);
        color: #ffffff;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        box-shadow: -12px 12px 20px 0px rgba(0, 0, 0, 0.48);
    }

    .compaire_card__contain-main {
        display: flex;
        gap: 1rem;
        width: 100%;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .compaire_card__tech-list {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .compaire_card__tech-list-item {
        display: flex;
        flex-direction: row;
    }

    .compaire_card__item-icon {
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5em;
    }

    .compaire_card__item-info {
        display: flex;
        flex-direction: column;
    }

    .compaire_card__item-title {
        font-weight: bold;
        margin-bottom: 5px;
        text-wrap: nowrap;
    }

    .compaire_card__item-value {
        font-size: 0.9rem;
    }

    .compaire_card__item-icon-img {
        width: 100%;
        height: 100%;
    }

    .compaire_card__nav {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
    }

    @media (max-width: 576px) {
        .compaire_card__contain-main {
            scroll-snap-align: center; /* Ajusta el tamaño de la fuente para pantallas aún más pequeñas */
        }

        .compaire_card__left {
            scroll-snap-align: center;
            width: 390px;
            border-right: 2px solid #868686;
        }

        .compaire_card__picture {
            width: 250px;
        }

        .compaire_card {
            scroll-snap-align: none;
        }

        .compaire_card__title {
            font-size: 1.8rem;
        }

        .compaire_card__item-title,
        .compaire_card__item-value {
            font-size: 0.8rem;
        }

        .compaire_card__button-details,
        .compaire_card__button-compaire {
            padding: 0.5rem 1rem;
        }

        .compaire_card__item-icon {
            width: 1.5rem;
            height: 2.5rem;
        }

        .compaire_card__contain-main {
            gap: 0.5rem;
        }
    }

</style>